body{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.bg-green-aspargus {
    background-color: #465B4D;
}

.text-dark-aspargus {
    color: #465B4D;
}

.bg-outer-green {
    background-color: #3D4E42;
}
.text-outer-green {
    color: #3D4E42;
}

.bg-dolphin-green {
    background-color: #7E907F;
}

.text-dolphin-green {
    color: #7E907F;
}

.bg-light-silver {
    background-color: #D4DFD1;
}

.text-light-silver {
    color: #D4DFD1;
}

.bg-gray {
    background-color: #DBE3D6;
}

.text-gray {
    color: #DBE3D6;
}

.bg-forest-green {
    background-color: #5EAC74;
}

.text-forest-green {
    color: #5EAC74;
}

footer{
    padding-top: 1%;
    background-color: #536664;
    bottom: 0;
}

.btn-form{

}

textarea{
    resize: none;
}

.bg-op-up:hover{
    --bs-bg-opacity: 0.75;
}